body {
  text-align: center;
}

.header-card{
  width: 30%;
}
.card-header{
  display: flex;
  justify-content: space-between;
  
}

#card-purple{
  background-color: #8c34ff;
}

#card-pink{
  background-color: #ff14d8;
}

#lock-details{
  width: 60%;
}

#lock-capsule{
  width: 30%;
}

#upload-widget-btn{
  margin: 2%;
  width: 90%;
  height: 20vh;
  border-radius: 2rem;
  background-color: #fff;
  font-size: 1.5em;
}

.duration-btns{
  width: 100%;
}

#lock-duration-card{
  color: white;
  background: linear-gradient(
    130deg,
    #b46fff 0%,
    #ff3fa9 100%
  );
}

#pick-date{
  background-color: #fff;
  color: #892EEA;
}

.duration-btns{
  background-color: #f1c5ff57;
  color: white;
  border: white;
}