body {
  text-align: center;
}



.card-header{
  display: flex;
  justify-content: space-between;
  
}

#card-purple{
  background: linear-gradient(
    165deg,
    #b46fff 30%,
    #a44eff 70%
  );
}

#card-pink{
  background: linear-gradient(
    165deg,
    rgb(253, 132, 185) 20%,
    #FF4C9A 80%
  );
}

#card-blue{
  background: linear-gradient(
    160deg,
    #68a4fd 30%,
    #3586FF 70%
  );
}

#lock-details{
  width: 60%;
}

#lock-capsule{
  width: 30%;
}

#upload-widget-btn{
  margin: 2%;
  width: 90%;
  height: 20vh;
  border-radius: 2rem;
  background-color: #ffffff;
  font-size: 1.5em;
}
#upload-widget-btn:hover{
  background-color: #c9c4c4;
}

.duration-btns{
  width: 100%;
}

#lock-duration-card{
  color: white;
  background: linear-gradient(
    130deg,
    #b46fff 0%,
    #ff3fa9 100%
  );
}

#pick-date{
  background-color: #fff;
  color: #892EEA;
}

.duration-btns{
  background-color: #f1c5ff57;
  color: white;
  border: white;
}

.duration-btns:hover{
  background-color: #f1c5ffa1;
}

#lock-capsule-btn{
  width: 100%;
  height: 13vh;
  background: linear-gradient(
    90deg,
    #b46fff 0%,
    #ff3fa9 100%
  );
  color: white;
}

#lock-capsule-btn:hover{
  background: linear-gradient(
    90deg,
    #9a5eda 0%,
    #d6368e 100%
  );
}

#duration-padlock{
  margin-top: 0.1em;
  margin-right: 1em;
  width: 1.4em;
  height: 1.6em;
}

#photos-icon{
  margin-top: 0.1em;
  margin-left: 0.7em;
  margin-right: 1em;
  width: 1.6em;
  height: 1.8em;
}

#lock-capsule-padlock{
  width: 1.2em;
  height: 1.4em;
}

.log-card-styling{
  width: 50%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}