body {
  text-align: center;
}

.header-card{
  width: 30%;
}
.card-header{
  display: flex;
  justify-content: space-between;
  
}

#card-purple{
  background-color: #8c34ff;
}

#card-pink{
  background-color: #ff14d8;
}

.lock-card{
  width: 60%;
}

#upload-widget-btn{
  margin: 2%;
  width: 90%;
  height: 20vh;
  border-radius: 2rem;
  background-color: #fff;
  font-size: 1.5em;
}