.like-btn{
    
    border-radius: 7px;
}

.li{
    margin-bottom: 20px;
}

#users-name{
    font-size: 20px;
}

#welcome-admin{
    margin: 0%;
    padding: 0%;
    width: 20%;
    display: flex;
    justify-content: center;
}

#welcome{
    margin-right: 5px;
    font-size: 20px;
}

.users-li{
    font-size: 20px;
    margin-bottom: 50px;
}

.admin-btns{
    margin-right: 5px;
    margin-left: 10px;
}

.delete-post{
    margin-left: 10px;
}